@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Відомості про студента:</h1>
    <h2>Прізвище та ім'я</h2>
    <p>Рудика Валерій</p>

    <h2>Група та номер по списку:</h2>
    <p>ІПЗс-25-1</p>

    <h2>Тема курсового проєкту:</h2>
    <p>Платформа замовлення та доставки їжі</p>
</div>
